<!DOCTYPE html>
<html>

<head>
 
  <title>Simple Map</title>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
 
</head>
<script src = "/socket.io/socket.io.js"></script>


<body>
  <div class="gridWrap">
    <div class="gridCol">
      <div id="map"></div>
    </div>
    <div class="gridCol">
      <div id="data">
      </div>
    </div>
  </div>
  <div class="boxSelector">
    <!-- Containers for location selection -->
    <div class="locSel">
      <span id="allSel">HOME</span>
      <span id="ksuSel">KSU</span>
      <span id="ptcSel">PTC</span>
    </div>
    <!-- Containers for box selection -->
    <div class="location" id="ptc">
    </div>
    <div class="location" id="ksaw">
    </div>
    

  </div>


  
  <!-- Async script executes immediately and must be after any DOM elements used in callback. --> 
<script
    src="https://maps.googleapis.com/maps/api/js?key=APIKEY&callback=initMap&libraries=&v=weekly"
    async
  ></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="/js/map.js"></script>  <!-- js of initializing map and displaying markers and their respective data-->
  

</body>

</html>