<!DOCTYPE html>
<html>

<head>
 
  <title>Simple Map</title>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
 
</head>

<body>
  <div class="gridWrap">
    <div class="gridCol">
      <div id="map"></div>
    </div>
    <div class="gridCol">
      <div id="data">
      </div>
    </div>
  </div>
  <div class="boxSelector">
    <div class="locSel">
      <span id="allSel">HOME</span>
      <span id="ksuSel">KSU</span>
      <span id="ptcSel">PTC</span>
    </div>

    <div class="location" id="ptc">
      <div class= "owlbox" id="cbox1">
        <span>CarBox1</span> 
      </div>
        <div class= "owlbox" id="cbox2">
          <span>CarBox2</span> 
        </div>
    </div>
    <div class="location" id="ksaw">
      <div class= "owlbox" id="cbox3">
        <span>CarBox3</span> 
      </div>
      <div class= "owlbox" id="cbox4">
        <span>CarBox4</span> 
      </div>
    </div>
    

  </div>


  
  <!-- Async script executes immediately and must be after any DOM elements used in callback. --> 
<script
    src="https://maps.googleapis.com/maps/api/js?key=APIKEY&callback=initMap&libraries=&v=weekly"
    async
  ></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="/js/mapdata2.js"></script> <!--js of coordinates in an array of objects-->
  <script src="/js/mapdata1.js"></script> <!--js of coordinates in an array of objects-->
  <script src="/js/map.js"></script>  <!-- js of initializing map and displaying/looping through marker-->
  

</body>

</html>