<!DOCTYPE html>
<html>

<head>
 
  <title>Simple Map</title>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
 
</head>

<body>

    <div id="map"></div>
    

  <!-- Async script executes immediately and must be after any DOM elements used in callback. --> 
<script
    src="https://maps.googleapis.com/maps/api/js?key=APIKEY&callback=initMap&libraries=&v=weekly"
    async
  ></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="/js/mapdata.js"></script> <!--js of coordinates in an array of objects-->
  <script src="/js/map.js"></script>  <!-- js of initializing map and displaying/looping through marker-->
  

</body>

</html>
